/* 
fonts:
font-family: 'Work Sans', sans-serif;
font-family: 'Changa One', cursive;

colors:
#005280 - dark blue; rgb(0, 82, 128)
#FFFFFF - white;
#EAEAEA - light grey;
#AAAAAA - dark grey;
*/

/*-------------------------*/
/* Browsers settings reset */
/*-------------------------*/
* {
    margin: 0;
    padding: 0;
}

/*-------------*/
/* Base values */
/*-------------*/
body {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #005280;
    text-align: center;
    min-width: 300px;
}
a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
ul li {
    list-style-type: none;
}
/*------------------------------------*/
/* Additional classes or multi-values */
/*------------------------------------*/
.blue-opacity, #footer { 
    background-color: rgba(0, 82, 128, 0.9);
    height: 100%;
    color: #FFF;
}
.bigger-text {
    font-size: 140%;
}
.smaller-text {
    font-size: 12px;
}
.wrapper {
    max-width: 1200px;
    margin: 20px auto;
}
header, #experience, #cennik {
    background-size: cover;
    background-position: center center;
}
.triple-grid, .triple-grid-big {
    max-width: 1000px;
    margin: auto;
    gap: 30px;
}

/*-------------*/
/* Menu button */
/*-------------*/
#menu-button {
    position: absolute;
    right: 38px;
    top: 30px;
    transition: all ease 0.4s;
    z-index: 300;
}
.menu-button-dot {
    width: 8px;
    height: 8px;
    background: #FFF;
    border-radius: 4px;
    position: inherit;
    transition: all ease 0.4s;
}
.menu-button-dot:nth-child(1) {
    right: 20px;
}
.menu-button-dot:nth-child(2) {
    right: 6px;
}

/*-------------------*/
/* Close menu button */
/*-------------------*/
/*moving button to right*/
.close-menu-button {
    transform: translateX(10px);
    position: fixed !important;
}
/*changing color*/
.close-menu-button .menu-button-dot {
    background: #005280;
}
/*rotating and scaling*/
.close-menu-button .menu-button-dot:nth-child(1){
    transform: translateX(26px) rotate(45deg);
}
.close-menu-button .menu-button-dot:nth-child(2) {
    transform: scale(0);
}
.close-menu-button .menu-button-dot:nth-child(3){
    transform: translateX(-26px) rotate(-45deg);
}
/*making wider*/
.close-menu-button .menu-button-dot:nth-child(1), .close-menu-button .menu-button-dot:nth-child(3){
    width: 32px;
}

/*----------------------*/
/* Open fullscreen menu */
/*----------------------*/
.open-menu {
    width: 100%;
}

/*-----------*/
/* Uppercase */
/*-----------*/
h1, h2, h3, nav, strong.upper-strong {
    text-transform: uppercase;
}

strong {
    font-weight: 600;
}

/*-------------------*/
/* Header */
/*-------------------*/
header {
    background-image: url("../../img/header-bg.jpg");
    height: 100vh;
}
/*navigation - fullscreen menu*/
nav {
    background: #FFF;
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100vh;
    font-size: 2em;
    font-weight: 300;
    color: #005280;
    text-align: center;
    overflow: hidden;
    transition: all ease 0.5s;
    z-index: 299;
}
nav > ul {
    list-style-type: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
nav > ul > a > li {
    line-height: 300%;
}

#header .wrapper {
    height: 100vh;
    margin: auto;
}

#header-logo-div {
    width: 90%;
    max-width: 1600px;
    height: 70vh;
    padding: 20vh 0;
    margin: auto;
}
/*main name*/
#header-logo-div h1 {
    font-size: 200%;
}
/*logo*/
#logo {
    margin-bottom: 30px;
}

#logo img {
    width: 70%;
    max-width: 300px;
}
/*additional logo text*/
#logo-text-small {
    letter-spacing: 7px;
}
/*read more button*/
#read-more-button {
    position: absolute;
    bottom: 20px;
    color: hsla(0, 0%, 100%, 30%);
    width: 100%;
    left: 0;
    text-align: center;
}
#read-more-button a {
    transition: color 0.5s;
    font-size: 20px;
    display: inline-block;
    margin: 0 20px;
}
#read-more-button a:hover {
    color: hsla(0, 0%, 100%, 100%);
}

/*-------*/
/* o-mnie */
/*-------*/
#o-mnie {
    line-height: 200%;
}

#o-mnie .wrapper {
    margin: auto;
    margin-bottom: 0;
    margin-top: 30px;
}

#o-mnie h2 {
    margin: 15px auto;
}

#profile-photo-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#profile-photo {
    width: 60%;
    max-width: 300px;
}

/*profile text*/
#profile-text-div {
    max-width: 400px;
    margin: 30px auto;
    padding: 0 10px;
}

#profile-text-div p {
    font-size: 20px;
}

#o-mnie .wrapper {
    padding: 0;
}
/*------------*/
/* Experience */
/*------------*/
#experience {
    background-image: url("../../img/experience.jpg");
}

#experience .blue-opacity .triple-grid {
    gap: 30px;
    border: 1px solid transparent;
}

/*big numbers - years*/
.big-number {
    font-size: 100px;
    font-weight: 900;
    font-family: 'Changa One', cursive; 
}
/*tile with exp info*/
.experience-tile-div {
    text-align: center;
    max-width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: flex-start;
    height: 100%;
    margin: 30px auto;
}

/*---------*/
/* leczenie */
/*---------*/
/*leczenie photo*/
#leczenie .wrapper .bigger-text {
    margin-bottom: 20px;
}
#leczenie img {
    width: 80%;
    max-width: 400px;
    border-radius: 50px;
    box-shadow: 0 0 10px #CCC;
    margin: 20px 0;
}
/*leczenie list*/
#methods-list-title {
    margin: 0 0 10px 0;
    font-weight: 600;
    font-size: 20px;
}
#leczenie ul li {
    line-height: 1.5;
    font-size: 20px;
}

/*--------*/
/* Prices */
/*--------*/
#cennik {
    background-image: url("../../img/prices.jpg");
}
#cennik .wrapper {
    padding: 20px 0;
}
#cennik h2 {
    margin: 0 0 20px 0;
}
/*big tile with info*/
.main-price-tile {
    width: 250px;
    background: rgb(255, 255, 255);
    margin: auto;
    color: #005280;
    border-radius: 30px;
    padding: 10px 5px 30px 5px;
}
.main-price-tile p {
    margin-top: 10px;
    line-height: 1.5;
}
/*small tile with price*/
.add-price-tile {
    position: relative;
    top: -25px;
    background: #005280;
    border: 2px solid white;
    padding: 10px;
    width: 120px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
    font-weight: 900;
    font-size: 120%;
}
/*multi-values for price tile*/
.main-price-tile {
    box-shadow: 0 0 5px #333;
}
/*reservation-text*/
#cennik .reservation-text {
    margin-top: 10px;
}
/*---------*/
/* Contact */
/*---------*/
#kontakt .wrapper {
    padding: 20px 0;
}

#contact-info {
    line-height: 2;
    margin: 40px auto;
}
/*map*/
#google-map {
    width: 90%;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px #CCC;
    margin: 10px auto;
    height: 30vh;
    min-height: 150px;
    max-height: 350px;
    max-width: 750px;
}

.rodo-link {
    display: block;
    margin-bottom: 30px;
}

/*--------*/
/* Footer */
/*--------*/
#footer {
    padding: 5px 0 10px 0;
    font-size: 16px;
}

#footer-nav a {
    display: inline-block;
    padding: 0 2%;
    border-right: 1px solid hsla(0, 0%, 100%, 60%);
    color: hsla(0, 0%, 100%, 60%);
    transition: color 0.5s;
}

#footer-nav a:nth-last-child(1) {
    border-right: 0;
}

#footer-nav a:hover {
    color: hsla(0, 0%, 100%, 100%);
}

#footer p:nth-of-type(1) {
    margin: 10px auto;
    margin-bottom: 5px;
    letter-spacing: 2px;
}

#footer p {
    line-height: 1.5;
}

#footer p.smaller-text {
    opacity: 0.4;
}


/*---------------*/
/* Media Queries */
/*---------------*/
@media screen and (orientation: landscape) {
    .double-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "left right";
        align-items: center;
        margin: 0 20px;
    }
    .triple-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    nav ul li {
        font-size: 20px;
    }
    #header-logo-div {
        padding: 15vh 0;
    }
    #logo {
        justify-self: right;
    }
    #logo img {
        width: 70%;
        max-width: 400px;
    }
    #logo-text-big {
        justify-self: left;
    }
    #profile-photo-div {
        height: 30vw;
        width: 30vw;
    }
    #kontakt .double-grid {
        margin-top: 30px;
    }
    #google-map {
        margin: 0;
    }
    #contact-info {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 20px;
        margin: 30px auto;
    }
    #google-map, #methods-text-div {
        grid-area: left;
    }
    #contact-info, #methods-img-div {
        grid-area: right;
    }
}

@media screen and (orientation: landscape) and (max-width: 600px) {
    #o-mnie .wrapper .double-grid {
        display: block;
    }
    #profile-photo-div {
        width: 200px;
        height: 200px;
    }
}

@media screen and (orientation: portrait) and (min-width: 500px) {
    #profile-photo-div {
        width: 270px;
        height: 270px;
    }
}

@media screen and (min-width: 750px) {
    #logo {
        margin-bottom: 0;
    }
    .double-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "left right";
        align-items: center;
        margin: 0 20px;
    }
    .triple-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #kontakt .double-grid {
        margin-top: 30px;
    }
    #google-map, #methods-text-div {
        grid-area: left;
    }
    #contact-info, #methods-img-div {
        grid-area: right;
    }
}

@media screen and (min-width: 900px) {
    #menu-button {
        display: none;
    }
    nav {
        position: absolute;
        width: 100%;
        background: none;
        color: hsla(0, 0%, 100%, 30%);
        top: 0;
        height: 30vh;
    }
    nav ul {
        transform: none;
        top: 30px;
        right: 0;
        left: 0;
        transform: none;
        text-align: center;
    }
    nav ul li {
        display: inline-block;
        padding: 0 5%;
        transition: color 0.5s;
    }
    nav ul li:hover {
        color: hsla(0, 0%, 100%, 100%);
    }
    .triple-grid-big {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1000px) {
    #profile-photo-div {
        width: 20vw;
        height: 20vw;
        min-width: 300px;
        min-height: 300px;
    }
}